<h1>Hello World!</h1>
<%= button_to 'Articles Listing', articles_path, method: :get %>
<%= button_to 'About page', about_path, method: :get %>
<%= button_to 'Alpha blog page', alpha_path, method: :get %>
