<h1 class="text-black mt-4 text-center">Create category</h1>

<body class="BodyHome">
  <div class="container">
    <div class="row justify-content-center">  
      <div class="col-10">
        <%= render 'form' %>
      </div>
      
      <div class="text-center mb-3">
        <%= link_to '[ Back to listing categories page ]', categories_path, method: :get, class: "btn btn-link text-info" %>
      </div>
    </div>
  </div>
</body>