<footer id="sticky-footer" class="py-3 bg-dark text-white fixed-bottom">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "Gabriel Castro", "https://youtube.com", class: "text-white" %></small>
    </div>
</footer>